.container h1{
    font-size: 30px;
}

article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    display: inline-block;
}

article h2{
    font-size: 30px;
    text-align: center;
}
